<!-- monstera-project/views/contact-form.html -->

<include href="views/header.html"></include>

<body>
    <nav>

    </nav>
    <form action="#" method="post" class="form-container">
        <h3 class="mb-3">Contact Us</h3>

        <label for="name" class="form-label">Name:</label>
        <input id="name" name="name" type="text" class="form-control mb-3">

        <label for="email" class="form-label">Email:</label>
        <input id="email" name="email" type="text" class="form-control mb-3">

        <label for="message" class="form-label">Message:</label>
        <textarea id="message" name="message" rows="5" class="form-control mb-3"></textarea>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <footer>

    </footer>
</body>
</html>