<!--
Authors: Yadira Cervantes
File: contact-form.html

This file displays the contact form page and is linked in the footer of every page.
-->

<!-- includes header.html -->
<include href="views/header.html"></include>

<body>
    <div class="page-content">
        <!-- includes navbar.html -->
        <include href="views/navbar.html"></include>

        <!-- contact form submits to itself -->
        <form action="#" method="post" class="form-container">
            <h3 class="mb-3">Contact Us</h3>

            <div class="mb-3">
                <label for="input-name" class="form-label">Name:</label>
                <input id="input-name" name="name" type="text" class="form-control">
<!--                <small id="name-error" class="text-danger fw-lighter"></small>-->
                <check if="{{ isset(@errors['name']) }}">
                    <small id="errors-name" class="text-danger fw-lighter">{{ @errors['name'] }}</small>
                </check>
            </div>

            <div class="mb-3">
                <label for="input-email" class="form-label">Email:</label>
                <input id="input-email" name="email" type="text" class="form-control">
<!--                <small id="email-error" class="text-danger fw-lighter"></small>-->
                <check if="{{ isset(@errors['email']) }}">
                    <small id="errors-email" class="text-danger fw-lighter">{{ @errors['email'] }}</small>
                </check>
            </div>

            <div class="mb-3">
                <label for="input-message" class="form-label">Message:</label>
<!--                <small id="message-error" class="text-danger fw-lighter"></small>-->
                <check if="{{ isset(@errors['message']) }}">
                    <small id="errors-message" class="text-danger fw-lighter">{{ @errors['message'] }}</small>
                </check>
                <textarea id="input-message" name="message" rows="5" class="form-control mb-3"></textarea>
            </div>

            <!-- centers the submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="button">Send</button>
            </div>
        </form>
    </div>

    <!-- includes footer.html -->
    <include href="views/footer.html"></include>

    <!-- commented out for testing purposes -->
    <!--<script src="script/validate.js"></script>-->
</body>
</html>