<!-- monstera-project/views/footer.html -->
<footer class="bg-body-tertiary mt-5">
    <div class="container-fluid p-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-evenly">
                <h5 class="me-3">Contributors:</h5>
                <ul class="list-group list-group-horizontal list-unstyled">
                    <li class="me-3">Jennifer McNiel</li>
                    <li class="me-3">Yadira Cervantes</li>
                    <li>Luke Cheng</li>
                </ul>
            </div>
            <a type="button" href="contact" class="button">Contact Us</a>
        </div>
    </div>
</footer>