<!--
Authors: Yadira Cervantes
File: footer.html

This file displays the footer and is included in each webpage.
-->
<footer class="bg-body-tertiary mt-5">
    <div class="container-fluid px-5 py-4">
<!-- places footer items at either end first -->
        <div class="d-flex justify-content-between">
            <!-- makes list display horizontal until  -->
            <div class="d-md-flex">
                <h5 class="me-3">Contributors:</h5>
                <ul class="list-group list-group-horizontal-md list-unstyled">
                    <li class="me-3">Jennifer McNiel</li>
                    <li class="me-3">Yadira Cervantes</li>
                    <li>Luke Cheng</li>
                </ul>
            </div>
            <a href="contact" class="button align-self-center">Contact Us</a>
        </div>
    </div>
</footer>