<!--
Authors: Jennifer McNiel, Yadira Cervantes
File: home.html

This file is the default route, displays the home page of our website and explains our application.
-->

<include href="views/header.html"></include>

<body>
    <include href="views/navbar.html"></include>
    <div class="page-content">
        <div class="home-top-row mb-4">
            <h2 class="text-center">
                <span class="font-important">Monstera</span>: Take control of your plant's needs
            </h2>
            <h5 class="text-center font-light">
                Monstera plant tracking app helps you remember your plant's watering schedule and upkeep.
            </h5>
            <div class="d-flex justify-content-center mt-4">
                <a href="sign-up" class="button">Get Started</a>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <img id="plant-image-home" src="images/plant-home.png" alt="Illustration of plants">
        </div>

        <div class="row home-row my-5">
            <div class="col">
                <h5 class="font-bold">Add Plants to your Library</h5>
                <p>Add your plants to start tracking their needs.</p>
            </div>
            <div class="col">
                <h5 class="font-bold">Receive Reminders</h5>
                <p>Check your reminders list for plant upkeep notifications.</p>
            </div>
            <div class="col">
                <h5 class="font-bold">View your Plants</h5>
                <p>Review your plant's information and photos.</p>
            </div>
            <div class="col">
                <h5 class="font-bold">Browse our Dictionary</h5>
                <p>Look through our detailed dictionary of over 3,000 plants.</p>
            </div>
        </div>

        <div id="home1">
            <div class="row home-row">
                <h5 class="font-bold">About Us</h5>
                <p>
                    Monstera is dedicated to provide plant enthusiasts with the tools necessary
                    to nurture and watch their plants grow. Our plant tracking app simplifies plant care,
                    allowing users to effortlessly manage watering schedules and maintenance tasks. From
                    adding plants to receiving timely reminders, our platform streamlines the process,
                    ensuring your plants receive the attention they need to thrive.
                </p>
                <p>
                    Beyond mere reminders, Monstera offers a wealth of botanical knowledge through our
                    extensive plant dictionary, featuring over 3,000 entries. Whether you're a seasoned
                    gardener or a novice plant parent, our platform equips you with the insights to
                    understand and cater to your plant's unique needs. Join us in cultivating healthier,
                    happier plants—create an account with Monstera today and embark on your journey to
                    greener living.
                </p>
            </div>
        </div>
    </div>

    <include href="views/footer.html"></include>
</body>
</html>