<!--
Authors: Jennifer McNiel
File: home.html

This file is the default route, displays the home page of our website and explains our application.
-->

<include href="views/header.html"></include>

<body>
    <include href="views/navbar.html"></include>
    <div class="page-content row p-4">
        <div class="col-8">
            <div class="h3 border-bottom d-flex justify-content-center">Welcome to the Plant Tracker App</div>
            <div id="intro" class="fs-5 p-3 m-3">
                <p>This application allows you to keep track of your plant watering schedule. Add plants to your
                    plant library with photos and receive reminders when your plants need watering.
                </p>
                <div class="d-flex justify-content-center p-3">
                    <a href="" class="button p-3 m-3">Log-in</a>
                    <a href="" class="button p-3 m-3">Sign-up</a>
                </div>
            </div>
            <div id="intro2" class="fs-5 p-3 m-3">
                <p>Looking for more information on plants and their care needs? Search for plant info in our
                    plant dictionary.
                </p>
                <div class="d-flex justify-content-center p-3">
                    <a href="" class="button">Dictionary</a>
                </div>
            </div>
        </div>
        <div class="image-container col-4">
            <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnRmamZmc3ViNGJod2FxNmY1Ymw5NDhnNTB2ZjNoamVua
            TA2NDkwOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hsfq8IANeoSIogFoEx/giphy.gif" width="100%"
                 alt="Description of the GIF">
        </div>
    </div>

    <include href="views/footer.html"></include>
</body>
</html>