<!-- monstera-project/views/navbar.html -->
<nav id="nav" class="navbar navbar-expand-lg mb-5 p-3">
    <div class="container-fluid">
        <div class="d-flex justify-content start">
            <a href="{{ @BASE }}" class="navbar-brand">Plant Tracker</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ @BASE }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Plant Dictionary</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Plant Library</a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-tertiary">Sign-out</button>
    </div>
</nav>