<!--
Authors: Yadira Cervantes
File: navbar.html

This file displays the navbar and is included in each webpage.
-->
<nav id="nav" class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
        <a href="{{ @BASE }}" class="navbar-brand">Plant Tracker</a>

        <!-- toggles navbar dropdown -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-items">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapses navbar when screen size is smaller than md breakpoint -->
        <div class="collapse navbar-collapse" id="nav-items">
            <div class="navbar-nav">
                <a href="{{ @BASE }}" class="nav-item nav-link">Home</a>
                <a href="dictionary" class="nav-item nav-link">Plant Dictionary</a>
                <a href="library" class="nav-item nav-link">Plant Library</a>
                <a href="contact" class="nav-item nav-link">Contact Us</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="button">Sign-out</a>
            </div>
        </div>
    </div>
</nav>