<!--
Authors: Yadira Cervantes
File: navbar.html

This file displays the navbar and is included in each webpage.
-->
<nav id="nav" class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
        <a href="{{ @BASE }}" class="navbar-brand">Monstera</a>

        <!-- toggles navbar dropdown -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-items">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapses navbar when screen size is smaller than md breakpoint -->
        <div class="collapse navbar-collapse" id="nav-items">
            <div class="navbar-nav">
                <a href="{{ @BASE }}" class="nav-item nav-link">Home</a>
                <a href="dictionary" class="nav-item nav-link">Plant Dictionary</a>
                <!-- checks if user is signed in -->
                <check if="{{ @SESSION.user !== null }}">
                    <a href="library" class="nav-item nav-link">Plant Library</a>
                </check>
                <a href="contact" class="nav-item nav-link">Contact Us</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!-- checks if user is signed in -->
                <check if="{{ @SESSION.user !== null }}">
                    <true>
                        <label class="nav-item nav-link"> Hello, {{ @SESSION.user->getUserName() }}!</label>
                        <a href="sign-out" class="button">Sign-out</a>
                    </true>
                    <false>
                        <a href="sign-in" class="button me-3">Sign-in</a>
                        <a href="sign-up" class="button">Sign-up</a>
                    </false>
                </check>
            </div>
        </div>
    </div>
</nav>