<include href="views/header.html"></include>

<body>
<div class="page-content">
    <include href="views/navbar.html"></include>

    <div class="library-container">
        <h3>Plant Library</h3>
        <p></p>

        <div class="row">
            <!-- user's plant table -->
            <div class="col-8">
                <table class="table-default">
                    <thead>
                    <tr id="table-header">
                        <th>Name</th>
                        <th>Plant</th>
                        <th>Last Watered</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{ @plantTest }}" value="{{ @plant }}">
                        <tr>
                            <td>{{ @plant->getPlantName() }}</td>
                            <td>{{ @plant->getSpeciesName() }}</td>
                            <td>{{ @plant->getWaterDate() }}</td>
                            <td><a href="view/{{ @plant->getPlantId() }}">view/edit</a></td>
                        </tr>
                    </repeat>
                    </tbody>
                </table>
            </div>

            <!-- reminders list -->
            <div class="col-4 notification-list">
                <ul class="list-group list-unstyled notification-list" id="notificationList">
                    <li class="list-group-item">Reminders</li>
                    <repeat group="{{ @reminderPlant }}" value="{{ @reminder }}">
                        <li class="list-group-item">
                            <i class="fa-solid fa-bell"></i>
                            <a href="water?id={{ @reminder['PlantId'] }}" class="waterBtn">Water</a>
                            {{ @reminder['Nickname'] }} is due for watering
                        </li>
                    </repeat>
                </ul>
            </div>
        </div>

        <!-- centers button under table -->
        <div class="col-8 mt-4 d-flex justify-content-center">
            <a href="add" class="button">Add a Plant</a>
        </div>
    </div>
</div>

<include href="views/footer.html"></include>
</body>
</html>
