<!--
Authors: Yadira Cervantes
File: plant-library.html

This file displays plants a user has added to the tracker and notifications.
-->

<include href="views/header.html"></include>

<body>
<div class="page-content">
    <include href="views/navbar.html"></include>

    <div class="library-container">
        <h3>Plant Library HTML</h3>
        <p>

        </p>

        <div class="row">
            <!-- user's plant table -->
            <div class="col-8">
                <table class="table-default">
                    <thead>
                    <tr id="table-header">
                        <th>Name</th>
                        <th>Plant</th>
                        <th>Last Watered</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <include href="models/libraryTable.php"></include>
                    </tbody>
                </table>
            </div>

            <!-- reminders list -->
            <div class="col-4 notification-list">
                <ul class="list-group list-unstyled notification-list" id="notificationList">
                    <li class="list-group-item">Reminders</li><br>
                    <!--                    <li class="list-group-item">-->
                    <!--                        <i class="fa-solid fa-bell"></i>-->
                    <!--                        Monty is due for watering-->
                    <!--                        <a href="" class="waterBtn">Water</a>-->
                    <!--                    </li>-->
                    <include href="models/waterReminder.php"></include>

                </ul>
            </div>

        </div>

        <!-- centers button under table -->
        <div class="col-8 mt-4 d-flex justify-content-center">
            <a href="add" class="button">Add a Plant</a>
        </div>
    </div>
</div>

<!--<script src="script/getWater.js"></script>-->
<include href="views/footer.html"></include>
</body>
</html>