<!--
Authors: Jennifer McNiel
File: sign-in.html

This file is the route for /sign-in, displays the sign in page of our website, validates user password and logs them in.
-->

<include href="views/header.html"></include>

<body>
<include href="views/navbar.html"></include>
<main>
    <div class='container p-3' id='main-container'>
        <h3 class='form-header'>Login</h3>
        <div id="signin-form" class='form-container'>
            <div class='form-body'>
                <form id='login-form' class='p-3 p-md-4 p-lg-5' method='POST' action='#'>
                    <div class='mb-4'>
                        <check if="{{ isset(@errors['logIn']) }}">
                            <p class="text-danger fw-lighter">{{ @errors['logIn'] }}</p>
                        </check>
                        <label for='input-username' class='form-label'>Username*</label>
                        <input type='text' class='form-control' id='input-username' name='username'
                               autocomplete='username' required>
                    </div>
                    <div class='mb-4'>
                        <label for='input-password' class='form-label'>Password*</label>
                        <input type='password' class='form-control' id='input-password' name='password'
                               autocomplete='current-password' minlength='8' maxlength='16' required>
                    </div>
                    <div class='d-flex justify-content-end gap-2'>
                        <span>Don't have an account? </span>
                        <a href="sign-up">Sign Up!</a>
                    </div>

                    <div class="row p-3">
                        <button type="submit" class="button submit-btn">Login</button>
                    </div>
                </form>
            </div>
</main>";
<include href="views/footer.html"></include>
</body>
</html>