<!--
Authors: Jennifer McNiel, Yadira Cervantes
File: sign-up.html

This file is the route for /sign-up, displays the sign up page of our website and creates a new user in our DB.
-->

<include href="views/header.html"></include>

<body>
<include href="views/navbar.html"></include>

<main class="page-content">
    <div class="container p-3" id="main-container">
        <div class="h3 d-flex justify-content-center">Sign-up</div>
        <div id="signup-form" class="form-container mb-5 p-3">
            <div class="form-body">
                <form method="POST" action="#" class="my-3 ">
                    <div class="mb-3">
                        <label for="input-user-name" class="form-label">Username*</label>
                        <small id="name-error" class="warning ps-1"></small>
                        <div class="row">
                            <div class="col-sm">
                                <input type="text" id="input-user-name" class="form-control" name="userName" placeholder="Username"
                                       aria-label="Username" maxlength="30">
                                <check if="{{ isset(@errors['userName']) }}">
                                    <p class="text-danger fw-lighter">{{ @errors['userName'] }}</p>
                                </check>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="input-email" class="form-label">Email*</label>
                        <small id="email-error" class="warning ps-1"></small>
                        <input type="email" class="form-control" id="input-email" name="email" placeholder="e.g. example@email.com" maxlength="60">
                        <check if="{{ isset(@errors['email']) }}">
                            <p class="text-danger fw-lighter">{{ @errors['email'] }}</p>
                        </check>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="input-password" class="form-label">Password*</label>
                            <input type="text" class="form-control" id="input-password" name="password" minlength="8" maxlength="16">
                        </div>
                        <div class="col">
                            <label for="input-password-confirm" class="form-label">Re-enter Password*</label>
                            <input type="text" class="form-control" id="input-password-confirm" name="password-confirm" minlength="8" maxlength="16">

                        </div>
                        <small id="password-error" class="warning"></small>
                        <check if="{{ isset(@errors['password']) }}">
                            <p class="text-danger fw-lighter">{{ @errors['password'] }}</p>
                        </check>
                    </div>

                    <div class="row p-3">
                        <button type="submit" class="button submit-btn">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<include href="views/footer.html"></include>

<script src="script/validate.js"></script>
</body>
</html>