<!--
Authors: Yadira Cervantes
File: view-plant.html

This file displays the information and images of a single plant.
-->

<include href="views/header.html"></include>

<body>
    <div class="page-content">
        <include href="views/navbar.html"></include>

        <div class="view-plant-container">
            <h3>Your Plant</h3>

            <!-- plant info -->
            <div class="row">
                <div class="col-6">
                    <!-- represented as a table to separate label and info -->
                    <table class="table view-plant-table">
                        <tbody>
                            <tr>
                                <td class="fw-bold">Name:</td>
                                <td>{{ @SESSION.currentPlant->getPlantName() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Species:</td>
                                <td>{{ @SESSION.currentPlant->getSpeciesName() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Adoption Date:</td>
                                <td>{{ @SESSION.currentPlant->getAdoptDate() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Watering Period:</td>
                                <td>{{ @SESSION.currentPlant->getWaterPeriod() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Last Watered:</td>
                                <td>{{ @SESSION.currentPlant->getWaterDate() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             <!-- plant gallery -->
            <div class="gallery">
                <div class="gallery-header">
                    <h5 class="ms-4 my-2">Images:</h5>
                </div>
                <div class="m-4">
                    <!-- evenly spaces all images -->
                    <div class="row mb-4 gx-5">
                        <repeat group="{{ @SESSION.currentPlant->getFiles() }}" value="{{ @image }}">
                            <div class="col-3">
                                <img class="gallery-image" alt="Picture of Plant" src="{{ @image }}">
                            </div>
                        </repeat>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include href="views/footer.html"></include>
</body>
</html>