<!--
Authors: Yadira Cervantes
File: view-plant.html

This file displays the information and images of a single plant.
-->

<include href="views/header.html"></include>

<body>
    <div class="page-content">
        <include href="views/navbar.html"></include>

        <div class="view-plant-container">
            <h3>{{ @SESSION.plant->getPlantName() }}</h3>

            <!-- plant info -->
            <div class="row">
                <div class="col-6">
                    <!-- represented as a table to separate label and info -->
                    <table class="table view-plant-table">
                        <tbody>
                            <tr>
                                <td class="fw-bold">Species:</td>
                                <td>{{ @SESSION.plant->getSpeciesName() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Adoption Date:</td>
                                <td>{{ @SESSION.plant->getAdoptDate() }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Watering Period:</td>
                                <check if="{{ @SESSION.plant->getWaterPeriod() }} === '1'">
                                    <true>
                                        <td>{{ @SESSION.plant->getWaterPeriod() }} day</td>
                                    </true>
                                    <false>
                                        <td>{{ @SESSION.plant->getWaterPeriod() }} days</td>
                                    </false>
                                </check>
                            </tr>
                            <tr>
                                <td class="fw-bold">Last Watered:</td>
                                <td>{{ @SESSION.plant->getWaterDate() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             <!-- plant gallery -->
            <div class="gallery">
                <div class="gallery-header">
                    <h5 class="ms-4 my-2">Images:</h5>
                </div>
                <div class="m-4">
                    <!-- evenly spaces all images -->
                    <div class="row mb-4 gx-5">
                        <check if="{{ @SESSION.plant->getFiles() }}">
                            <true>
                                <div class="col-3">
                                    <img class="gallery-image" alt="Picture of Plant" src="{{ @SESSION.plant->getFiles() }}">
                                </div>
                            </true>
                            <false>
                                <p>No images available.</p>
                            </false>
                        </check>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include href="views/footer.html"></include>
</body>
</html>