/*
Authors: Yadira Cervantes, Jennifer McNiel, Luke Cheng
File: styles.css

This file contains the styles for the website and addresses responsiveness.
*/

/* color constants */
:root {
    --dark-green-color: #7D8F69;
    --tea-green-color: #DAE2B6;
    --sage-green-color: #e6eadc;
    --beige-color: #F7EDDB;
    --cream-color: #FFFBE9;
}

/* page (excluding footer) is at least 100% of viewport height */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the full height of the viewport */
    margin: 0;
}

.page-content {
    flex: 1;
}

#nav {
    position: sticky;
    top: 0;
    margin-bottom: 4rem;
    width: 100%;
    background-color: var(--sage-green-color);
    box-shadow: 0 3px 7px #b9b9b9;
}

/* form container styles */
.form-container {
    width: 40%;
    margin: auto;
}

#intro {
    background-color: var(--sage-green-color);
}

#intro2 {
    background-color: var(--beige-color);
}

#signup-form, #signin-form {
    background-color: var(--tea-green-color);
}

/* default button styles */
.button {
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    background-color: var(--dark-green-color);
    border-color: var(--dark-green-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

/* for mobile responsiveness, matches bootstraps sm breakpoint */
@media (max-width: 575.98px) {
    .form-container {
        width: 90%;
    }
}

/* matches bootstraps md breakpoint */
@media (max-width: 767.98px) {
    .form-container {
        width: 70%;
    }
}

#plantContainer, #rightPlantInfo{
    display: flex;
}

#plantResult{
    background-color: #DAE2B6;
}

#plantInfo{
    background-color: #F7EDDB;
}

#plantSearchList{
    text-decoration: none;
    color: inherit;
}

#apiList :hover {
    background-color: #F7EDDB;
}

#plantImage{
    border: solid black 1px;
    border-radius: 50%;
}

/* plant library styles */

.library-container {
    width: 90%;
    margin: auto;
}

/* table styles */
.table-default {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#table-header {
    background-color: var(--tea-green-color);
}

#table-header th {
    padding: 10px;
}

.table-default tr {
    background-color: #f2f4e7;
}

.table-default td {
    padding: 10px;
}

/* list styles */
.notification-list {
    border: none !important;
}

.notification-list li:first-child {
    font-weight: bold;
}

.notification-list li {
    border: none !important;
}

/* view plant styles */
.view-plant-container {
    width: 80%;
    margin: auto;
}

.gallery {
    border: solid 2px var(--tea-green-color);
}

.gallery-header {
    border-bottom: solid 2px var(--tea-green-color);
}

.gallery-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.view-plant-table tr, td {
    border-style: none !important;
}
